@import "../../../styles/root.module.scss";

.root {
    display: flex;
    padding: 2rem;
    gap: 5%;
    
    & > * {
        background: rgba(255,255,255,0.5);
        backdrop-filter: blur(10px);
        border-radius: 1rem;
        padding: 2rem;
        box-shadow: 0 4px 12px -8px #243244;
    }

    h1 {
        margin: 0.5rem 0;
    }

    .avatar {
        border-radius: 50%;
    }

    .profileContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .userName {
            text-transform: capitalize;
            margin-top: 2rem;
        }
    }

    .detailsContainer {
        flex: 2;
        h2 {
            margin: 1rem 0;
        }
    }

    .roomsContainer {
        height: 120px;
        width: 100%;
        border: 1px dashed $foreground-dark;
        border-radius: 2rem;
    }
}