@import "../../../styles//root.module.scss";

.root {
    display: grid;
    // background-image: linear-gradient(to bottom right, #e100ff, #23ca1d);
    // background-image: linear-gradient(to bottom right, #9900ff, #8fca1d);
    // background-image: linear-gradient(to bottom right, #3b00ff, #cab51d);
    background-image: linear-gradient(-20deg,#a8edea,#fbfcdb);
    grid-template-columns: 50% 50%;
    width: 100%;
    height: calc(100vh - 75px);
    align-items: center;
    padding: 0 5rem;
    overflow: hidden;

    @media (max-width: 900px) {
        grid-template-columns: 100%;
        padding: 0 2rem;
    }

    .hero {
        padding-right: 3rem;
        color: $foreground-dark-faded;
        
        h1 {
            font-size: 4rem;
            margin-bottom: 1rem;

            @media (max-width: 720px) {
                font-size: 2rem;
            }
        }
    }

    .heroImage {
        height: 100%;
        opacity: 0.7;
        @media (max-width: 900px) {
            display: none;
        }
    }
}

.getStarted {
    border-radius: 3rem;
    background-color: $active-yellow;
    color: $foreground-dark;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.8rem 2.2rem;
    font-size: 1.1rem;
    z-index: 1;

    @media (max-width: 720px) {
        padding: 0.5rem 1.5rem;
        font-size: 0.9rem;
    }
}

.getStarted:hover {
    background-color: $active-yellow;
}