@import "../../../styles/root.module.scss";

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: $background-light;
    color: $foreground-dark;
    box-shadow: 0 2px 6px rgb(36 50 68 / 6%);
    border-bottom: 1px solid rgba(36,50,68,.1);

    .links {
        display: inline-flex;
    }

    a {
        margin: 0 2rem;
        font-weight: 500;
        cursor: pointer;
        @media (max-width: 720px) {
            display: none;
        }
    }

    .login:hover, a:hover {
        color: #a944d8;
    }

    .login {
        border: 1px solid;
        padding: 0.5rem 2rem;
        border-radius: 3rem;
        cursor: pointer;
        @media (max-width: 720px) {
            display: none;
        }
    }
}

.footer {
    position: relative;
    bottom: 0;
    min-height: 300px;
    background-color: $background-light;
    color: $foreground-dark;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 5rem;

    @media (max-width: 720px) {
        padding: 2rem 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .brand {
        display: flex;
        flex-direction: column;
        * {
            margin-top: 0.5rem;
            margin-right: 1rem;
            width: max-content;
        }

        .social {
            display: flex;
            cursor: pointer;
        }
    }
}

.hamMenuIcon {
    @media (min-width: 720px) {
        display: none;
    }
}

.aboutUs {
    @media (max-width: 720px) {
        margin-top: 1rem;
    }
}